
body{
    background-image:  url(../js/imgs/bg-image.webp);
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    color: #F8F0FB;
  }
  
  .quickSearchBg{
    background: linear-gradient(
      0deg,
      #182825d7 0%,
      #182825d7 100%)
  }
  
  .mainContainer{
    height: 90vh;
  }