body{
  background:  url('https://cdn.wallpapersafari.com/0/21/gnoflY.jpg');
  background-attachment: fixed;
  background-position: center
}

.quickSearchBg{
  background: linear-gradient(
    0deg,
    #182825d7 0%,
    #182825d7 100%)
}

.mainContainer{
  height: 90vh;
}